:root {
  --grey: rgb(220, 224, 224);
  --white: #fff;
  --black: #000;
  --blue: #009;
  --skyblue: rgb(0, 217, 255);
  --grey: #6a6c6d;
  --top: 0rem;
  --gray: rgb(220, 224, 224);
}

.dark {
  background-color: #5c5b5b;
  color: white;
}
.light {
  color: white;
}
.close {
  display: none;
}
.open {
  display: block;
}
#bottom {
  margin-top: 10rem;
}
.errors {
  text-transform: capitalize;
  font-style: italic;
  color: red;
  /* background-color: rgb(168, 106, 84);
  padding: 1rem;
  color: white;
  border-radius: 20px; */
}
