.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
   
}

.home-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
 
}

.home-heading span{color: var(--skyblue);}
.home-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 1rem; 
}
@media screen and (max-width:53.5em){
    .home-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.result-area{
    width: 50%;
    border: var(--black) dashed 2px;
    background-color: rgb(204, 221, 223);
    color: var(--black);
    padding: 1rem;
}

.home-form-section{
    width: 50%;
    border: black solid 1px;
    margin-right: 1rem;
}

@media screen and (max-width:53.5em){
    .result-area, .home-form-section{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
}


 .results{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 2px dashed ;
    padding: 1rem;
 }
 .titles{
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
 }

.home-form-section form{
    display: flex;
    justify-content: space-between;
    padding: 2px;  
    /* background-color: red;   */
}
@media screen and (max-width:53.5em){
    .home-form-section form{
        gap: 1rem;
        width: 100%;
    }
}
@media screen and (max-width:27em){
    .home-form-section form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    }
}

.home-form-inputs-button{
    margin-top: 
    1rem;
}
.home-form-inputs-button button{
    width: 100%;
    padding: .8rem;
    text-transform: capitalize;
    background-color: var(--skyblue);
    font-weight: 600;
    margin-bottom: 1rem;
}
.home-form-inputs-button button:hover{
    background-color: aqua;
}
.form-section1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}
@media screen and (max-width:53.5em){
   .form-section1{
    margin: 0;
   } 
}
.form-section1 label{
    font-weight: 800;
    text-transform: capitalize;
}
.home-from-inputs{
    display: flex;
    flex-direction: column;
}
.home-from-inputs input{
    padding: .6rem;
    
}
select{
    padding: .7rem;
    }
.action-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 1rem;
    border-top: solid var(--black) 1px;
}
.action-btns button{
    padding: 1rem;
    width: 20%;
    text-transform: capitalize;
    font-weight: 800;
}
.clear{
background-color: rgb(221, 148, 148);
}
.clear:hover{
    background-color: rgb(216, 164, 164); ;
}
.save{
background-color: green;
}
.save:hover{
    background-color: rgb(138, 209, 138);
}
.emergency{
    background-color: orange;
}
.emergency:hover{
    background-color: rgb(255, 195, 97); 
}