.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: var(--top);
  
}
.home-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;
}

.result-area {
  width: 50%;
  border-left: var(--skyblue) dashed 3px;
  background-color: rgb(204, 221, 223);
  color: var(--black);
  padding: 1rem;
}
.results p  {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px dashed;
  padding: 1rem;
}
.results strong{
text-decoration: underline;
font-weight: 800;
font-size:2rem;
}
.home-form-section {
  width: 50%;
  border: none;
  padding: 1rem;
  background-color:  var(--white);
}


.form-columns {
  display: flex;
  justify-content: space-between;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  width: 48%;
  
}
.form-group2{
  display: flex;
  flex-direction: column;
  width: 48%;
}
.form-group1 label,
.form-group2 label
 {
  font-weight: 600;
  color: black;
}
.form-group1 input,
.form-group1 select,
.form-group2 input,
.form-group2 select
{
  padding: .5rem;
  font-weight:600;
   width: 100%;
  border: solid var(--grey) 1px;
}

.home-form-inputs-button {
  width:100%;
  margin-top: .5rem;
}

.home-form-inputs-button button {
  width: 100%;
  padding: 0.8rem;
  text-transform: capitalize;
  background-color: var(--skyblue);
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}

.home-form-inputs-button button:hover {
  background-color: aqua;
}
.form-columns{
  color:white;
} 
.action-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 1rem;
  border-top: solid var(--black) 1px;
}

.action-btns button {
  padding: .9rem;
  width: 20%;
  text-transform: capitalize;
  font-weight: 800;
}
.clear {
  background-color: rgb(221, 148, 148);
}
.clear:hover {
  background-color: rgb(216, 164, 164);
}
.save {
  background-color: green;
  color: var(--white);
}
.save:hover {
  background-color: rgb(138, 209, 138);
}
.emergency {
  background-color: orange;
}
.emergency:hover {
  background-color: rgb(255, 195, 97);
}