.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url(../../assets/img5.jpg); */
    height: 77vh;
    background-size: cover;
    margin: 0;
    

}
.home-heading{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.home-heading span{color: var(--skyblue);}
.home-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0 1rem;
    

}
.result-area{
    width: 50%;
    height: 100%;
    border: var(--black) dashed 2px;
    background-color: white;
    color: var(--black);
    padding: 1rem;
}
.home-form-section{
    width: 50%;
    border: black solid 1px;
    margin-right: 1rem;
}
.home-form-section form{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}
.home-form-inputs-button{
    display: flex;
    justify-content: center;
    
}
.home-form-inputs-button button{
    width: 30%;
    padding: .8rem;
    text-transform: capitalize;
    background-color: var(--skyblue);
    font-weight: 600;
    margin-bottom: 1rem;
}
.form-section1{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}
.form-section1 label{
    font-weight: 800;
    color:var(--black);
}
.home-from-inputs{
    display: flex;
    flex-direction: column;
}
.home-from-inputs input{
    padding: .7rem;
    
}
.result{
   min-height: 100%;
    min-width: 100%;
}
.action-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 1rem;
}
.action-btns button{
    padding: 1rem;
    width: 20%;
    text-transform: capitalize;
    font-weight: 800;
}
.clear{
background-color: rgb(221, 148, 148);
}
.save{
background-color: green;
}
.emergency{
    background-color: orange;
}