.ScheduleDashboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(188, 191, 194);
  width: 20%;
  padding: 1rem;
  padding-top: 2rem;
  height: 80vh;
  position: fixed;
  color: white;
  justify-content: left;
}