.schedulePage {
  display: flex;
flex-direction: column;
  text-align: center;
  padding: 2rem;
  background-color: rgb(188, 191, 194);
 }

.schedulePage h1 {
  font-size: 2rem;
  border-bottom: solid var(--black);
  width: 100%;

}

.loading {
  font-size: 1.2rem;
  color: #333;
}

.appointment-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
/* background-color: red; */
} 

.appointment-card {
  display: flex;
  border-bottom: 10px solid;

  width: 100%;
   transition: transform 0.3s;
}

.appointment-card:hover {
  /* transform: translateY(-5px); */
}



.appointment-info {
  padding: 1.5rem;
}

.appointment-info h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.appointment-info p {
  color: #555;
  /* font-size: 1.3rem; */
  margin-bottom: 5px;
  font-weight: 600;
}

.appointmentUpdateBtn {
  background: #c28b8b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.appointmentUpdateBtn:hover {
  background: #a36a6a;
}
.appointment-delete-btn{
  background: #cf4343;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 10px;
  text-transform: capitalize;
}
.floating-card {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  background:skyblue;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 20%;
}

.floating-card input,select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.floating-card .save-btn {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.floating-card .close-btn {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
.floating-card h2{
color:black;
}