.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: .5rem 2rem;
  background-color: var(--grey);
  color: var(--white);
}
@media screen and (max-width: 37.5em) {
  .app-header {
    max-height: 10vh;
    max-width: 100%;
  }
}
@media screen and (max-width: 38em) {
  .app-header h3 {
    display: none;
  }
}

.app-header span {
  color: rgb(0, 217, 255);
  text-transform: capitalize;
}
.welcome-message{
  text-transform: capitalize;
  font-family: sans-serif;
}
.actionss {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-transform: capitalize;
  gap: 1rem;
}
.actionss:hover {
  background-color: white;
}
.actionss ul {
  list-style: none;
}
.app-header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;  
  gap: 5rem;
  text-transform: capitalize;
  font-weight: 600;
}
.logout-btn {
display: flex;
background-color: rgb(204, 89, 89);
padding-left:1rem ;
padding-right: 1rem;
border-radius: 8px;
cursor: pointer;
}
.open {
  display: none;
}
.nav-list1 li {
  list-style: none;
  
  margin-bottom: 2.5rem;
  border-bottom: var(--white) 1px solid;
  width: 100%;
}

#nav-icon {
  display: none;
}
.close {
  display: none;
}
@media screen and (max-width: 37.5em) {
  .app-header ul {
    display: none;
  }
  #nav-icon {
    display: block;
  }

  .open {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    /* width: 20%; */
    background-color: var(--grey);
    margin: 0;
    right: 0rem;
    padding: 2rem;
  }
}

.app-header a {
  text-decoration: none;
  color: var(--white);
}
.app-header p {
  font-size: 2rem;
}
.logout-btnn {
  background-color: red;
  padding: 1rem;
  color: var(--white);
  width: 100%;
  font-weight: 600;
}
