.about-section-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--top);
    
}
.about-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray);
    gap: 5rem;

}
.about-description{
    display: flex;
    flex-direction: column;
gap: 1rem;
}
.about-description h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-family:  sans-serif;
}
.about-description button{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 1rem;
font-size: 1.6rem;
font-weight: 600;
border: .1px var(--skyblue) solid;
background-color: white;
border-radius: 20px;
    width: 30%;
}
.about-hero img{opacity: .7;}
.about-offers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    padding: 1rem;
    gap: 3rem;
}
.offers-container{
    display: flex;
    flex-direction: column;
    width: 27%;
    
    padding: 1rem;
    border: outset;
}
.offers-container img{
    width: 20%;
   
}
.contact-us-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: grey;
    width: 100%;
    margin-top: 3rem;
}
.contact-us-container{
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
}
.contact-us-elements{
    display: flex;
    width: 30%;
    /* margin-top: 5rem; */
   
}
.contact-us-elements img{
    width: 30%;
    /* border: 1px var(--gray) solid; */
    border-radius: 60%;
    background-color: white;
    padding: .3rem;
    cursor: pointer;
   
}